@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "container.css";
@layer components {
    .container-menu {
        @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
    }
    #navigation-menu{
        height: calc(100vh - 4rem);
    }
    .navigation-link:hover .navigation-submenu{
        display: block !important;
    }
}
